
@{
    ViewBag.Title = "MyCar";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@model IEnumerable<Mioto.Models.Xe>

<h2>MyCar</h2>
<table>
    <tr>
        <th>Biển số xe</th>
        <th>Hãng xe</th>
        <th>Màu xe</th>
        <!-- Thêm các cột khác tùy theo nhu cầu -->
    </tr>
    @foreach (var xe in Model)
    {
        <tr>
            <td>@xe.BienSoXe</td>
            <td>@xe.HangXe</td>
            <td>@xe.MauXe</td>
            <td>@xe.KhuVuc</td>
            <td>@xe.NamSanXuat</td>
            <td>@xe.TinhNang</td>
            <td>@xe.GiaThue</td>
        </tr>
    }
</table>
