@{
    ViewBag.Title = "MyCar";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@model IEnumerable<Mioto.Models.Xe>


<h2>MyCar</h2>

<table class="table">
    <thead>
        <tr>
            <th>Biển số xe</th>
            <th>Hãng xe</th>
            <th>Màu xe</th>
            <th>Khu vực</th>
            <th>Năm sản xuất</th>
            <th>Tính năng</th>
            <th>Giá thuê</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var xe in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => xe.BienSoXe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => xe.HangXe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => xe.MauXe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => xe.KhuVuc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => xe.NamSanXuat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => xe.TinhNang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => xe.GiaThue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => xe.TrangThai)
                </td>
                <td>
                    <a href="@Url.Action("RegisterOwner","Car")" class="btn">Thêm xe</a>
                    @Html.ActionLink("Chỉnh sửa", "EditCar", new { BienSoXe = xe.BienSoXe }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Xóa", "DeleteCar", new { BienSoXe = xe.BienSoXe }, new
                    {
                        @class = "btn btn-danger",
                    data_id = xe.BienSoXe,
                    onclick = "return confirm('Hành động này không thể khôi phục. Tiếp tục?');"
               })
                </td>
            </tr>
        }
    </tbody>
</table>
