﻿@{
    var khachhang = Session["KhachHang"] as Mioto.Models.KhachHang;
    var chuxe = Session["ChuXe"] as Mioto.Models.ChuXe;
    var nhanvien = Session["NhanVien"] as Mioto.Models.NhanVien;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/base.css" rel="stylesheet" />
</head>
<body>
    <!--Header navbar-->
    <section class="header scroll-top">
        <div class="m-container">
            <!--Logo-->
            <a href="@Url.Action("Home", "Home")" class="logo-container">
                <div class="full-logo">
                    <img src="~/Image/logo-mioto.png" alt="Mioto" />
                </div>
                <div class="short-logo">
                    <img src="~/Image/short-logo-mioto.png" loading="lazy" />
                </div>
            </a>
            <!--Menu-top-->
            <div class="menu-container">
                <a href="@Url.Action("About", "Home")">Về Mioto</a>
                @if (chuxe == null)
                {
                    <a href="@Url.Action("IntroOwnerCar", "Home")">Trở thành chủ xe</a>
                }
                <div></div>
                @if (khachhang == null)
                {
                    <a href="@Url.Action("Register", "Account")" class="btn btn--s sign-in">Đăng ký</a>
                    <a href="@Url.Action("Login", "Account")" class="btn btn--s">Đăng nhập</a>
                }
                else
                {
                    if (chuxe != null)
                    {
                        <a href="@Url.Action("InfoAccount", "DetailAccount")">
                            <span>Chủ xe: <b>@khachhang.Ten</b></span>
                        </a>
                    }
                    else if (khachhang != null)
                    {
                        <a href="@Url.Action("InfoAccount", "DetailAccount")">
                            <span>Khách hàng: <b>@khachhang.Ten</b></span>
                        </a>
                    }
                    else if (nhanvien.ChucVu == "Nhân viên")
                    {
                        <a href="@Url.Action("InfoAccount", "DetailAccount")">
                            <span>@nhanvien.ChucVu: <b>@nhanvien.Ten</b></span>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("InfoAccount", "DetailAccount")">
                            <span>@nhanvien.ChucVu: <b>@nhanvien.Ten</b></span>
                        </a>
                    }
                }
            </div>
        </div>
    </section>
    <!--Body-->
    <div class="body">
        @RenderBody()
    </div>
</body>
</html>